<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true" respawn_delay="3">
    <param name="port" value="/dev/stm32"/>
    <param name="baud" value="115200"/>
  </node>

  <!-- Encoderless DC motor test mode: use /cmd_vel integration instead of wheel tick odometry. -->
  <node pkg="magni_nav" type="encoderless_fake_odom.py" name="encoderless_fake_odom" output="screen">
    <param name="linear_scale" value="0.70" />
    <param name="angular_scale" value="0.55" />
    <param name="max_linear" value="0.04" />
    <param name="max_angular" value="0.05" />
    <param name="cmd_timeout" value="0.8" />
  </node>

  <arg name="rplidar_port" default="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_89d98cb1e25d684a9a9a1ba3000b680e-if00-port0" />
  <node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode" output="screen">
    <param name="serial_port" value="$(arg rplidar_port)" />
    <param name="serial_baudrate" value="256000" />
    <param name="frame_id" value="laser" />
    <param name="inverted" value="false" />
    <param name="angle_compensate" value="true" />
    <param name="scan_mode" value="Sensitivity" />
  </node>

  <node pkg="map_server" type="map_server" name="map_server" args="$(find magni_nav)/maps/map_final1_cropped.yaml" />

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="base_frame_id" value="base_footprint" />
    <param name="odom_frame_id" value="odom" />
    <param name="global_frame_id" value="map" />
    <param name="transform_tolerance" value="0.3" />
    <param name="update_min_d" value="0.05" />
    <param name="update_min_a" value="0.05" />
    <param name="resample_interval" value="1" />
    <param name="laser_model_type" value="likelihood_field" />
    <param name="laser_max_beams" value="45" />
    <param name="min_particles" value="500" />
    <param name="max_particles" value="2000" />
  </node>

  <include file="$(find magni_nav)/launch/move_base_dc.launch" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.2 0.0 0.0 0.0 base_footprint laser 100" />
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base_laser_link" args="0.0 0.0 0.0 0.0 0.0 0.0 laser base_laser_link 100" />
</launch>
