<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true" respawn_delay="3">
    <param name="port" value="/dev/stm32"/>
    <param name="baud" value="115200"/>
  </node>

  <node pkg="magni_nav" type="odom_publisher.py" name="odom_publisher" output="screen" />

  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />

  <node pkg="map_server" type="map_server" name="map_server" args="$(find magni_nav)/maps/map_final1.yaml" />

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="base_frame_id" value="base_footprint" />
    <param name="odom_frame_id" value="odom" />
    <param name="global_frame_id" value="map" />
    <param name="transform_tolerance" value="1.0" />
  </node>

  <include file="$(find magni_nav)/launch/move_base.launch" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.2 0.0 0.0 0.0 base_footprint laser 100" />
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base_laser_link" args="0.0 0.0 0.0 0.0 0.0 0.0 laser base_laser_link 100" />
</launch>
