<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="/cmd_vel_nav" />
    
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="planner_frequency" value="0.2" />
    <param name="controller_frequency" value="3.0" />
    <param name="planner_patience" value="5.0" />
    <param name="controller_patience" value="5.0" />
    <param name="conservative_reset_dist" value="0.5" />
    <!-- A failed corridor plan must stop and abort, not start an in-place
         recovery rotation close to a mapped wall. -->
    <param name="recovery_behavior_enabled" value="false" />
    <param name="clearing_rotation_allowed" value="false" />

    <rosparam file="$(find magni_nav)/param/costmap_common_param.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find magni_nav)/param/costmap_common_param.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find magni_nav)/param/local_costmap_param.yaml" command="load" />
    <rosparam file="$(find magni_nav)/param/global_costmap_param.yaml" command="load" />
    <rosparam file="$(find magni_nav)/param/base_local_planner_param.yaml" command="load" />
  </node>

  <node pkg="magni_nav" type="corridor_centering.py"
        name="corridor_centering" output="screen" required="true">
    <param name="side_min_angle_deg" value="70.0" />
    <param name="side_max_angle_deg" value="110.0" />
    <param name="side_min_distance" value="0.35" />
    <param name="side_max_distance" value="2.30" />
    <param name="corridor_min_width" value="2.20" />
    <param name="corridor_max_width" value="2.50" />
    <param name="expected_corridor_width" value="2.36" />
    <param name="corridor_width_tolerance" value="0.15" />
    <param name="acquisition_width_spread" value="0.10" />
    <param name="wall_flatness_tolerance" value="0.10" />
    <param name="normal_confirmation_samples" value="8" />
    <param name="single_wall_match_tolerance" value="0.30" />
    <param name="single_wall_selection_margin" value="0.03" />
    <param name="width_learning_alpha" value="0.02" />
    <param name="minimum_samples" value="8" />
    <param name="minimum_forward_speed" value="0.04" />
    <param name="maximum_input_angular_speed" value="0.08" />
    <param name="maximum_output_angular_speed" value="0.10" />
    <param name="centering_gain" value="0.22" />
    <param name="centering_deadband" value="0.04" />
    <param name="maximum_correction" value="0.10" />
    <param name="large_center_error" value="0.20" />
    <param name="large_error_linear_speed" value="0.05" />
    <param name="centering_priority_error" value="0.30" />
    <param name="minimum_path_tracking_weight" value="0.25" />
    <param name="distance_filter_alpha" value="0.35" />
    <param name="scan_timeout" value="0.50" />
    <param name="minimum_edge_clearance" value="0.25" />
    <param name="near_wall_linear_speed" value="0.04" />
    <param name="near_wall_angular_speed" value="0.08" />
    <param name="robot_front_from_lidar" value="0.11" />
    <param name="robot_rear_from_lidar" value="0.52" />
    <param name="robot_half_width" value="0.385" />
    <param name="self_filter_margin" value="0.03" />
  </node>
</launch>
